@import "tailwindcss";

@theme {
  --color-primary: #19669a;
  --color-background-light: #f6f7f8;
  --color-background-dark: #121a20;
  --color-soft-gray: #F8FAFC;
  --color-trust-blue: #196598;
  --font-display: var(--font-manrope), sans-serif;
}

@custom-variant dark (&:is(.dark *));